<div class="content-container project-container">
  <div class="content-area">

    <div class="container" *ngFor="let project of projects | async | orderByDate | reverse">
      <div *ngIf="project.published">
        <div class="card">
          <div>
            <img [src]="project.img" class="card-img-left">
          </div>
          <div class="card-body">
            <div class="card-block">
              <h1 class="card-title p4">{{ project.title }}</h1>
              <p class="card-text p1" [innerHTML]="project.body"></p>
            </div>
            <div class="card-footer" *ngIf="project.url">
              <a [href]="project.url" class="btn btn-sm btn-link">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>