.project-container {
    margin-bottom: 30px;
}

.card {
    box-shadow: none;
}

.card-img-left {
    float: left;
    padding: 1.50em;
    margin-bottom: -1.25em;
    height: 250px;
    border-radius: .125rem;
    width: 300px;
    height: 250px;
}

.card-block {
    border-bottom: none;
}

.card-body {
    height: 300px;
    box-shadow: none;
    padding: 20px;
}

.card-text {
    height: 170px;
}

.card-footer {
    text-align: right;
    border-top: 1px solid #eee;
}

@media only screen and (max-device-width: 480px) {
    /* Project cards */
    .card {
        box-shadow: none;
    }
    
    .card-img-left {
        float: unset;
        padding: 1.50em;
        margin-bottom: -1.25em;
        height: 250px;
        border-radius: .125rem;
    }
    
    .card-block {
        border-bottom: none;
    }
    
    .card-body {
        height: 450px;
        box-shadow: none;
        padding: 20px;
    }
    
    .card-text {
        height: 170px;
    }
    
    .card-footer {
        border-top: 1px solid #eee;
        position: absolute;
        bottom: 0;
        right: 0;
        border-top: none;
    }
}
